
.portfolio-title {
  font-family: 'Open Sans', sans-serif;
  width: 350px;
  margin: 20px auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 70px;
  font-weight: 300;
}
