.conway-title{
    font-family: 'Open Sans', sans-serif;
    width:350px;
    margin: 20px auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size: 50px;
    font-weight: 400;
}

.game-btn{
    padding: 15px;
    font-size: 20px;
    margin: 10px;
    background-color: #bfbfbf;
}

.game-prep{
    font-family: 'Open Sans', sans-serif;
}

button:focus {
    outline: none;
}

button:hover,
.st-btn:focus {
    background: #222;
    color: #fff;
}

.st-btn:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}