.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.headerBtn:visited{
  color:white;
}

.headerBtn{]
  color:white;
  text-decoration: none;
  font-size: 36px;
  margin:0 20px;
}
.App-intro {
  font-size: large;
}
.eliHeader{
  position: absolute;
  left: 30;
}
